@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: #ccdaed !important;
  background-attachment: fixed;
  font-family: 'Inter', system-ui, sans-serif;
}